* {
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16px;
}

header {
    background: #29335b;
    color: white;
}

header h1 {
    font-size: 3rem;
    padding: 0.25em;
    text-align: center;
}

body {
    background: #cdd9ef;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.grid {
    background: #a4d40c;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
}

.square {
    width: 20px;
    height: 20px;
}

#start {
    background: #29335b;
    border-top: 2px solid #767676;
    border-left: 2px solid #767676;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
    font-size: 1.25rem;
    margin-top: 1em;
    padding: 0.5em 0;
    width: 204px;
    -webkit-appearance: none;
}

.snake {
    background-color: darkolivegreen;
}

.apple {
    background-color: #244408;
}

.keyboard {
    margin-top: 1em;
    max-width: 204px;
}

.keyboard p {
    margin-bottom: 1em;
}

.keyboard button {
    background: white;
    border-top: 2px solid #767676;
    border-left: 2px solid #767676;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
    font-size: 1rem;
    padding: 1em;
    margin: 5px;
    -webkit-appearance: none;
}

.keyboard--buttons {
    display: flex;
    flex-direction: column;
}

#up {
    flex-grow: 3;
}

.keyboard--buttons--bottom {
    display: flex;
}

#down,
#left,
#right {
    flex-grow: 1;
    padding: 1em 0.5em;
}

@media (max-width: 400px) {
    header h1,
    main h2 {
        font-size: 1.5rem;
    }
}
